@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  background: #fff;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif; }
  body img {
    max-width: 100%;
    height: auto;
    max-height: 500px; }
  body .grid {
    display: grid;
    overflow: hidden;
    width: 100vw;
    grid-gap: .7vw 1%;
    margin: 0 auto;
    grid-template-columns: 18.25% 17.25% 10.25% 24.25%; }
    @media (max-width: 768px) {
      body .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px 1fr 1fr 1fr; } }
    body .grid .nested {
      display: grid; }
    body .grid > div {
      background-color: #eee; }
    body .grid .box {
      background: black; }
      @media (max-width: 768px) {
        body .grid .box {
          background: white; } }
    body .grid header {
      grid-row: 1 / 5;
      grid-column: 1;
      justify-content: center;
      background-color: black;
      /* Reponsive menu code */ }
      @media (max-width: 768px) {
        body .grid header {
          grid-row: 1;
          grid-column: 1 / 7;
          background-image: url("/image/landscape.jpeg");
          background-repeat: no-repeat; } }
      body .grid header ul {
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid #1c1f21;
        position: fixed; }
        @media (max-width: 768px) {
          body .grid header ul {
            position: relative;
            text-align: center; } }
      body .grid header ul li {
        list-style-type: none;
        color: #5a5b5b;
        padding: 10px;
        border-bottom: 1px solid #272a2c;
        border-top: 1px solid #1c1f21;
        overflow: auto;
        cursor: pointer; }
        @media (max-width: 768px) {
          body .grid header ul li {
            border: none;
            width: 150px;
            display: inline-block; } }
      body .grid header ul li:first-child {
        border-top: none; }
      body .grid header .fa {
        color: #1ebfe6;
        display: block; }
      body .grid header ul li:hover .fa {
        color: #0f82da; }
      body .grid header ul li:hover .linktitle {
        color: #6c6d6e; }
      body .grid header ul li div {
        float: left; }
      body .grid header .icons {
        padding: 10px; }
      body .grid header .linktitle {
        line-height: 35px;
        padding-left: 10px; }
      @media all and (max-width: 600px) {
        body .grid header aside {
          width: 60px;
          padding: 0px 10px; }
        body .grid header ul li {
          overflow: hidden;
          padding: 0px 10px; }
        body .grid header .linktitle {
          position: absolute;
          z-index: -1;
          left: -50px;
          padding: 29px 15px;
          line-height: 0px;
          background: #1ebfe6; }
        body .grid header ul li:hover .linktitle {
          left: 80px; }
        body .grid header .icons {
          padding: 20px 10px; }
        body .grid header ul li:hover .icons {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg); } }
    body .grid .b {
      grid-column: 2 / 4; }
    body .grid .c {
      grid-column: 4;
      grid-row: 1;
      background-color: #eaf2f6; }
      @media (max-width: 768px) {
        body .grid .c {
          grid-row: 3;
          grid-column: 1 / 2; } }
      body .grid .c .content {
        text-align: center;
        justify-self: center; }
      body .grid .c span, body .grid .c div {
        color: #727272; }
    body .grid .d {
      grid-row: 1;
      grid-column: 5 / 6; }
      @media (max-width: 768px) {
        body .grid .d {
          grid-row: 2;
          grid-column: 3 / 4; } }
    body .grid .e {
      grid-row: 2;
      grid-column: 2 / 4; }
      @media (max-width: 768px) {
        body .grid .e {
          grid-row: 6;
          grid-template-rows: 200px 200px;
          grid-column: 1 / 4; } }
      body .grid .e img {
        width: 100%; }
    body .grid .f {
      grid-column: 4 / 6;
      grid-row: 2;
      color: #fff;
      background-color: #71b6c1;
      grid-template-columns: 2fr; }
      body .grid .f .nested {
        padding: 0 15px; }
        @media (max-width: 768px) {
          body .grid .f .nested {
            grid-template-columns: 1fr 2fr; }
            body .grid .f .nested p {
              font-size: 15px;
              line-height: 23px; } }
      @media (max-width: 768px) {
        body .grid .f {
          grid-row: 2;
          grid-column: 2 / 5;
          z-index: 999;
          margin-top: 170px; } }
    body .grid .g {
      grid-row: 3; }
      @media (max-width: 768px) {
        body .grid .g {
          grid-row: 4;
          grid-column: 4 / 5; } }
    body .grid .h {
      grid-row: 3;
      grid-column: 3 / 5; }
      @media (max-width: 768px) {
        body .grid .h {
          grid-row: 5;
          grid-column: 2 / 4; } }
    body .grid .i {
      grid-column: 2;
      grid-row: 3; }
      @media (max-width: 768px) {
        body .grid .i {
          grid-row: 3;
          grid-column: 4 / 5; } }
    body .grid .j {
      grid-row: 4;
      grid-column: 2 / 6; }
      @media (max-width: 768px) {
        body .grid .j {
          grid-row: 2;
          grid-column: 1 / 6; } }
