@font-face {
  font-family: "Berlin";
  src: url("/fonts/CstBerlinEastOriginalOT.otf") format("otf"); }

@font-face {
  font-family: 'Avenir';
  src: url("/fonts/AvenirLTStd-Medium.otf") format("otf"); }

body {
  background: #fff;
  color: #fff;
  font-family: 'Avenir'; }
  body h1 {
    font-family: "Berlin", sans-serif;
    color: black; }
  body .container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto; }
  body img {
    max-width: 100%;
    height: auto;
    max-height: 500px; }
  body .grid {
    display: grid;
    overflow: hidden;
    grid-auto-rows: min-content;
    grid-gap: .7vw 1%;
    margin: 0 auto;
    grid-template-columns: 100px repeat(3, 1fr);
    grid-template-rows: 80px 1fr 149px 20% 298px 260px 230px 332px 339px; }
    @media (max-width: 1024px) {
      body .grid {
        grid-template-rows: 80px 1fr 149px 149px 252px 226px 205px 298px 400px; } }
    @media (max-width: 768px) {
      body .grid {
        grid-template-columns: 100px repeat(3, 1fr);
        grid-template-rows: 80px 1fr 298px 318px 208px 200px; } }
    @media (max-width: 450px) {
      body .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; } }
    body .grid > div {
      background-color: #eee; }
    body .grid .box {
      background: #fff; }
      @media (max-width: 768px) {
        body .grid .box {
          background: white; } }
      body .grid .box img {
        background-size: cover;
        background-position: center; }
    body .grid header {
      grid-row: 1;
      grid-column: 1 / 7;
      justify-content: center;
      background-color: black;
      /* Reponsive menu code */ }
      @media (max-width: 768px) {
        body .grid header {
          grid-row: 1;
          grid-column: 1 / 7;
          background-image: url("/image/landscape.jpeg");
          background-repeat: no-repeat; } }
      body .grid header ul {
        padding: 0px;
        margin: 0px;
        position: relative;
        text-align: center;
        border-bottom: none; }
        @media (max-width: 768px) {
          body .grid header ul {
            position: relative;
            text-align: center;
            border-bottom: none; } }
      body .grid header ul li {
        list-style-type: none;
        padding: 10px;
        overflow: auto;
        cursor: pointer;
        width: 150px;
        display: inline-block;
        color: #5a5b5b;
        border: none; }
        @media (max-width: 768px) {
          body .grid header ul li {
            border: none;
            width: 150px;
            display: inline-block;
            color: #5a5b5b;
            border-bottom: none; } }
        @media (max-width: 450px) {
          body .grid header ul li {
            display: block;
            margin: 0 auto; } }
      body .grid header ul li:first-child {
        border-top: none; }
      body .grid header .fa {
        color: #71b6c1;
        display: block; }
      body .grid header ul li:hover .fa {
        color: #0f82da; }
      body .grid header ul li:hover .linktitle {
        color: #6c6d6e;
        font-size: 18px; }
      body .grid header ul li div {
        float: left; }
      body .grid header .icons {
        padding: 10px; }
      body .grid header .linktitle {
        line-height: 35px;
        padding-left: 10px;
        color: #727272; }
      @media all and (max-width: 600px) {
        body .grid header aside {
          width: 60px;
          padding: 0px 10px; }
        body .grid header ul li {
          overflow: hidden;
          padding: 0px 10px; }
        body .grid header .linktitle {
          position: absolute;
          z-index: -1;
          left: -50px;
          padding: 29px 15px;
          line-height: 0px;
          background: #1ebfe6; } }
  @media all and (max-width: 600px) and (max-width: 450px) {
    body .grid header .linktitle {
      z-index: 1;
      left: 0px;
      right: 0px;
      background: #fff;
      padding: 29px 20px;
      display: inline-block;
      position: relative; } }
      @media all and (max-width: 600px) {
        body .grid header ul li:hover .linktitle {
          left: 80px; }
        body .grid header .icons {
          padding: 20px 10px; } }
  @media all and (max-width: 600px) and (max-width: 450px) {
    body .grid header .icons {
      width: 17px;
      padding: 20px 5px;
      display: inline-block; } }
      @media all and (max-width: 600px) {
        body .grid header ul li:hover .icons {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg); } }
    body .grid .b {
      grid-column: 2 / 4;
      grid-row: 4 / 6; }
      @media (max-width: 768px) {
        body .grid .b {
          grid-row: 3; } }
      @media (max-width: 450px) {
        body .grid .b {
          grid-column: 1 / 5; } }
    body .grid .c {
      background: #4ca1af;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #eaf2f6, #c4e0e5);
      position: relative;
      grid-column: 2;
      grid-row: 6; }
      @media (max-width: 768px) {
        body .grid .c {
          grid-row: 4;
          grid-column: 2; } }
      @media (max-width: 450px) {
        body .grid .c {
          grid-row: 4;
          grid-column: 1 / 4; } }
      body .grid .c .content {
        text-align: center;
        position: relative;
        top: 35%;
        padding: 0 5px; }
      body .grid .c span, body .grid .c div {
        color: #727272;
        font-family: 'Avenir'; }
    body .grid .d {
      grid-row: 7;
      grid-column: 2; }
      @media (max-width: 768px) {
        body .grid .d {
          grid-row: 2;
          grid-column: 3 / 4; } }
      @media (max-width: 450px) {
        body .grid .d {
          grid-row: 8;
          grid-column: 3; } }
    body .grid .e {
      grid-template-rows: 200px 200px;
      grid-row: 8;
      grid-column: 2; }
      @media (max-width: 768px) {
        body .grid .e {
          grid-row: 5;
          grid-template-rows: 200px 200px;
          grid-column: 2 / 4; } }
      @media (max-width: 450px) {
        body .grid .e {
          grid-row: 8;
          grid-column: 4; } }
      body .grid .e img {
        width: 100%; }
    body .grid .f {
      color: #fff;
      background-color: #71b6c1;
      background-image: url("/image/nice-snow.png");
      grid-template-columns: 2fr;
      grid-column: 2 / 5;
      z-index: 999;
      margin-top: 170px;
      grid-row: 2 / 4;
      margin-top: 330px; }
      @media (max-width: 1024px) {
        body .grid .f {
          margin-top: 223px; } }
      @media (max-width: 450px) {
        body .grid .f {
          grid-row: 3;
          margin-top: 0px; } }
      body .grid .f .nested {
        position: relative;
        grid-template-columns: 1fr 2fr;
        padding: 40px 15px;
        top: 0; }
        @media (max-width: 768px) {
          body .grid .f .nested {
            grid-template-columns: 1fr 2fr;
            padding: 5px 15px;
            top: 0; }
            body .grid .f .nested p {
              font-size: 15px;
              line-height: 23px; } }
        body .grid .f .nested p {
          font-size: 17px;
          line-height: 33px; }
      @media (max-width: 768px) {
        body .grid .f {
          grid-row: 2;
          grid-column: 2 / 5;
          z-index: 999;
          margin-top: 170px; } }
    body .grid .g {
      grid-column: 4 / 5;
      grid-row: 8; }
      @media (max-width: 768px) {
        body .grid .g {
          grid-row: 5;
          grid-column: 4 / 5; } }
      @media (max-width: 450px) {
        body .grid .g {
          grid-row: 6;
          grid-column: 1 / 4; } }
    body .grid .h {
      grid-row: 6;
      grid-column: 3 / 5; }
      @media (max-width: 768px) {
        body .grid .h {
          grid-row: 4;
          grid-column: 3 / 5; } }
      @media (max-width: 450px) {
        body .grid .h {
          grid-row: 7;
          grid-column: 1 / 6; } }
    body .grid .i {
      grid-column: 4 / 5;
      grid-row: 4 / 6; }
      @media (max-width: 768px) {
        body .grid .i {
          grid-row: 3;
          grid-column: 4 / 5; } }
      @media (max-width: 450px) {
        body .grid .i {
          grid-row: 4; } }
    body .grid .j {
      grid-row: 2;
      grid-column: 1 / 6; }
      @media (max-width: 768px) {
        body .grid .j {
          grid-row: 2;
          grid-column: 1 / 6; } }
    body .grid .k {
      grid-row: 8;
      grid-column: 3; }
      @media (max-width: 768px) {
        body .grid .k {
          grid-row: 6;
          grid-column: 4; } }
    body .grid .l {
      grid-row: 9;
      grid-column: 1 / 6; }
    body .grid .full-width {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw; }
    body .grid a {
      color: #dc006c; }
    body .grid small {
      color: #333; }
    body .grid .logo {
      grid-row: 1;
      grid-column: 1 / 7;
      font: 84px 'Arial Narrow', sans-serif;
      /* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
      color: #fefefe;
      text-transform: uppercase;
      letter-spacing: -4px; }
