$bg-color: black;
$color: #fff;
$berlin: "Berlin" , sans-serif;

@font-face {
	font-family: "Berlin";
	src: url('./fonts/CstBerlinEastOriginalOT.otf') format('otf');
}

@font-face {
	font-family: 'Avenir';
	src: url("./fonts/AvenirLTStd-Medium.otf") format("otf");
}

// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
// $ssp: 'Source Sans Pro', sans-serif;

body {
    background: $color;
    color:$color;
    font-family:'Avenir';

	h1 {
		font-family:$berlin;
		color:black;
	}

  .container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
  }

    img {
        max-width:100%;
        height:auto;
        max-height:500px;
    }

    .grid {
        display: grid;
        overflow:hidden;
        grid-auto-rows: min-content;
         grid-gap: .7vw 1%;
         margin: 0 auto;
         grid-template-columns: 100px repeat(3, 1fr);
         grid-template-rows: 80px 1fr 149px 20% 298px 260px 230px 332px 339px;

         @media(max-width:1024px) {
            grid-template-rows: 80px 1fr 149px 149px 252px 226px 205px 298px 400px;
         }

        @media(max-width:768px) {
            grid-template-columns: 100px repeat(3, 1fr);
            grid-template-rows: 80px 1fr 298px 318px 208px 200px;
        }

		@media(max-width:749px) {
            grid-template-columns: 0px repeat(3, 1fr);
            grid-template-rows: auto;
        }

        @media(max-width:600px) {
            grid-template-columns: repeat(2, 1fr);
			grid-template-rows:auto;
        }

        > div {
           background-color: #eee;
       }

        .box {
            background: #fff;

            @media (max-width:768px) {
                background: white;
            }

            img {
                background-size: cover;
                background-position: center;
            }
        }

        header {
            grid-row: 1;
            grid-column: 1 / 7;
            justify-content: center;
            background-color:$bg-color;

            @media (max-width:768px) {
                grid-row: 1 ;
                grid-column: 1 / 7;
                background-image:url('./image/landscape.jpeg');
                background-repeat:no-repeat;
            }

            ul {
                padding:0px;
                margin:0px;
                position:relative;
                text-align: center;
                border-bottom:none;

                @media (max-width:768px) {
                    position:relative;
                    text-align: center;
                    border-bottom:none;
                }
            }

                ul li
                {
                    list-style-type:none;
                    padding:10px;
                    overflow: auto;
                    cursor:pointer;

                    width: 150px;
                    display: inline-block;
                    color: #5a5b5b;
                    border:none;

                    @media (max-width:768px) {
                        border:none;
                        width:150px;
                        display:inline-block;
                        color:#5a5b5b;
                        border-bottom:none;
                    }

					@media(max-width:600px){
						display: block;
						margin: 0 auto;
					}
                }

                ul li:first-child{
                    border-top:none;
                }

                .fa {
                    color: #71b6c1;
                    display:block;
                }

                ul {
                    li:hover {

                        .fa {
                            color:#0f82da;
                        }

                        .linktitle {
                            color:#6c6d6e;
                            font-size: 18px;

                        }
                    }
                }

                ul li div {
                    float: left;
                }

                .icons {
                    padding:10px;
                }

                .linktitle{
                  line-height: 35px;
                  padding-left: 10px;
                  color:#727272;
                }


                /* Reponsive menu code */
                @media all and (max-width: 600px) {
                aside
                {
                width:60px;
                padding:0px 10px;
                }

                ul li
                {
                overflow:hidden;
                padding:0px 10px;
                }

                .linktitle {
	                position: absolute;
	                z-index: -1;
	                left: -50px;
	                padding: 29px 15px;
	                line-height:0px;
                	background: #1ebfe6;

					@media(max-width:600px){
						z-index: 1;
						left: 0px;
						right: 0px;
						background:#fff;
						padding:29px 20px;
						display:inline-block;
						position:relative;
					}
                }

                ul li:hover .linktitle {
                	left:80px;
                }

                .icons {
                	padding: 20px 10px;

					@media(max-width:600px){
						width:17px;
						padding:20px 5px;
						display:inline-block;
					}
                }

                ul li:hover .icons {
	                -webkit-transform:rotate(360deg);
	                -moz-transform:rotate(360deg);
	                -ms-transform:rotate(360deg);
	                -o-transform:rotate(360deg);
	                transform:rotate(360deg);
                }
            }

        }

        .b {
            grid-column: 2 / 4;

            grid-row: 4 / 6;

            @media(max-width:768px){
                grid-row:3;
            }

			@media(max-width:600px) {
	            grid-column: 1 / 5;

	        }

        }

        .c {
            // grid-column: 4;
            // grid-row:1;
            // background-color:#eaf2f6gulp;
            background: #4ca1af; /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #eaf2f6, #c4e0e5);
            position:relative;

            // grid-row: 4;
            grid-column: 2;

            grid-row: 6;

            @media (max-width:768px) {
                grid-row: 4 ;
                grid-column: 2;
            }

			@media(max-width:600px) {
				grid-row: 4;
				grid-column: 1 / 4;

	        }

            .content {
                text-align:center;
                position: relative;
                top: 35%;
                padding:0 5px;
            }

            span, div {
                color: #727272;
                font-family:'Avenir';
            }

        }

        .d {
            grid-row: 7;
            grid-column: 2;

            @media (max-width:768px) {
                grid-row: 2;
                grid-column: 3 / 4;
            }

			@media(max-width:600px){
				grid-row:8;
				grid-column:3;
			}
        }

        .e {
            grid-template-rows: 200px 200px;

            grid-row: 8;
            grid-column: 2;

            @media (max-width:768px) {
                grid-row: 5;
                grid-template-rows:200px 200px;
                grid-column: 2 / 4;
            }

			@media(max-width:600px){
				grid-row: 8;
				grid-column: 4;
			}

            img {
                width:100%;
            }
        }

        .f {
            color: #fff;
            background-color: #71b6c1;
            background-image: url('../image/nice-snow.png');
            grid-template-columns:  2fr;
            grid-column: 2 / 5;
            z-index: 999;
            margin-top: 170px;
            grid-row: 2 / 4;
            margin-top: 330px;

            @media(max-width:1024px) {
                margin-top:223px;
            }

			@media(max-width:600px) {
	            grid-row:3;
				margin-top:0px;
	        }

            .nested {
                position: relative;
                grid-template-columns: 1fr 2fr;
                padding: 40px 15px;
                top: 0;


                @media (max-width:768px){
                    grid-template-columns: 1fr 2fr;
                    padding: 5px 15px;
                    top:0;

                    p {
                        font-size: 15px;
                        line-height: 23px;
                    }
                }

                p {
                    font-size: 17px;
                    line-height: 33px;
                }
            }

            @media(max-width:768px) {
                grid-row: 2;
                grid-column: 2 / 5;
                z-index: 999;
                margin-top: 170px;

            }
        }

        .g {
            grid-column: 4 / 5;
            grid-row: 8;

            @media(max-width:768px) {
                grid-row:5;
                grid-column:4 / 5;

            }

			@media(max-width:749px) {
	            grid-row:6;
				grid-column: 3 / 4;
	        }

			@media(max-width:600px){
				grid-row: 6;
				grid-column: 1 / 4;
			}
        }

        .h {
            grid-row: 6;
            grid-column: 3 / 5;

            @media(max-width:768px) {
                grid-row:4;
                grid-column:3 / 5;

            }
			@media(max-width:600px){
				grid-row: 7;
				grid-column: 1 / 6;
			}
        }

        .i {
            grid-column: 4 / 5;

            grid-row: 4 / 6;

            @media(max-width:768px) {
                grid-row: 3;
                grid-column:4 / 5;

            }

			@media(max-width:600px){
				grid-row: 4;
			}

        }

        .j {

            grid-row: 2;
            grid-column: 1 / 6;

            @media(max-width:768px) {
                grid-row: 2;
                grid-column: 1 / 6;
            }
        }

        .k {
            grid-row:8;
            grid-column:3;

            @media(max-width:768px){
                grid-row: 6;
                grid-column: 4;
            }
        }

        .l {
            grid-row:9;
            grid-column:1 / 6;
        }

        .full-width {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }


        a {
            color: #dc006c;
        }
        small {
            color: #333;
        }

        .logo {

            grid-row: 1;
            grid-column: 1 / 7;
            font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
            color: #fefefe;
            text-transform: uppercase;
            letter-spacing: -4px;
        }
    }
}
